.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    #todo {
        width: 312px;
        height: 40px;
        padding: 0.85rem 1.5rem;
        border: 2px solid #000;
        border-radius: 8px;
    }

    [placeholder] {
        font-family: 'Lobster', cursive;
        font-size: 1.2rem;
    }

    .btn {
        display: inline-block;
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 1.2rem;
        color: #fff;
        background-color: #8355c7;
        border-radius: 8px;
        padding: 0.85rem 1.5rem;
        margin-left: 1.5rem;
        transition: all 0.3s ease-in;
        cursor: pointer;

        &:hover {
            background-color: #a981e6;
        }
    }
}
