.todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 2.4rem;
}

.todo-form__container {
    margin-top: 3.2rem;
    display: flex;
    column-gap: 1rem;
}

.todo-box input {
    width: 24rem;
    padding: 1.2rem;
    border: none;
    font-family: 'Consolas';
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.2);
}

.todo-box input:focus {
    outline: none;
}

.todo-box {
    position: relative;
}

.todo-btn {
    position: absolute;
    right: 0;
    padding: 1.2rem;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border: none;
    transition: all 0.2s ease;
}

.todo-btn:active {
    transform: translate(1px, 1px);
}

.fa-plus {
    color: #0fbcf9;
    font-size: 1.2rem;
}

/*======================== CUSTOM SELECTOR ================================*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background-image: none;
}

.select-box {
    margin-right: 2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.2);
}

.filter-todo {
    width: 12rem;
    padding: 1.2rem;
    border: none;
    font-family: 'Consolas';
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.select-box::after {
    content: '\25BC';
    color: #0fbcf9;
    position: absolute;
    right: 0;
    padding: 1.4rem;
    cursor: pointer;
}

/*=========================== MEDIA QUERIES ==========================*/
@media screen and (max-width: 665px) {
    .todo-form {
        margin-bottom: 1.2rem;
    }

    .todo-form__container {
        margin-top: 0.4rem;
        row-gap: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    .todo-box input {
        width: 16rem;
        padding: 0.8rem;
        font-size: 0.8rem;
    }

    .todo-btn {
        padding: 0.8rem;
    }

    .fa-plus {
        font-size: 0.8rem;
    }

    .filter-todo {
        width: 10rem;
        padding: 0.8rem;
        font-size: 0.8rem;
    }

    .select-box {
        margin-right: 0.4rem;
    }

    .select-box::after {
        padding: 0.8rem;
        font-size: 0.8rem;
    }
}
