.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    margin-top: 0.6rem;
    margin-right: 1.6rem;
    background: rgb(255, 255, 255);
    font-family: 'Consolas';
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 0.2s ease;
}

.todo li {
    padding-left: 0.8rem;
}

.complete-btn,
.trash-btn {
    color: rgb(255, 255, 255);
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.complete-btn {
    background: #4cd137;
}

.trash-btn {
    background: #e84118;
}

.complete-btn:active,
.trash-btn:active {
    transform: translate(1px, 1px);
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
