/*====================== GOOGLE FONT =============================*/
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

/*====================== CSS RESET ==============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cute Font', cursive;
    background: #0fbcf9;
    max-height: 100vh;
}

header h1 {
    font-size: 6rem;
    text-align: center;
}

header {
    margin-top: 1.4rem;
}

/*=========================== MEDIA QUERIES ==========================*/
@media screen and (max-width: 665px) {
    header h1 {
        font-size: 4rem;
    }
}
