/*====================== GOOGLE FONT =============================*/
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

/*====================== CSS RESET ==============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cute Font', cursive;
    background-image: linear-gradient(to right, #0fbcf9 50%, #0059ff 100%);
    max-height: 100vh;
}

.app {
    text-align: center;
}

header h1 {
    font-size: 6rem;
}

header {
    margin-top: 1.4rem;
}
